# Godot 4+ specific ignores
.history
.vscode

# Exports
archive
export

# Server logs and events
server
scripts/server
data/events/events-archive.json
data/events/requests-log.json
data/events/events.json

# Installed libraries
.haxelib
server

ldtkbackups
*.png~
